In [2]:
import pandas as pd
import numpy as mp

In [3]:
real_estate = pd.read_csv('realtor-data.csv')

In [6]:
re_2 = real_estate.dropna(subset = ['price'])

In [7]:
re_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 923088 entries, 0 to 923158
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        923088 non-null  object
 1   price         923088 non-null  float64
 2   bed           791385 non-null  float64
 3   bath          807967 non-null  float64
 4   acre_lot      649536 non-null  float64
 5   full_address  923088 non-null  object
 6   street        920950 non-null  object
 7   city          923014 non-null  object
 8   state         923088 non-null  object
 9   zip_code      922883 non-null  float64
 10  house_size    625245 non-null  float64
 11  sold_date     456396 non-null  object
dtypes: float64(6), object(6)
memory usage: 91.6+ MB

In [8]:
re_2.dtypes

status           object
price           float64
bed             float64
bath            float64
acre_lot        float64
full_address     object
street           object
city             object
state            object
zip_code        float64
house_size      float64
sold_date        object
dtype: object

In [11]:
re_2 = re_2[['price','bed', 'bath', 'acre_lot', 'city', 'state', 'zip_code', 'house_size']]

In [15]:
re_3 = re_2.dropna()

In [16]:
re_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421227 entries, 0 to 923157
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   price       421227 non-null  float64
 1   bed         421227 non-null  float64
 2   bath        421227 non-null  float64
 3   acre_lot    421227 non-null  float64
 4   city        421227 non-null  object
 5   state       421227 non-null  object
 6   zip_code    421227 non-null  float64
 7   house_size  421227 non-null  float64
dtypes: float64(6), object(2)
memory usage: 28.9+ MB

In [12]:
re_2.head()

,price,bed,bath,acre_lot,city,state,zip_code,house_size
0,105000.0,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0
1,80000.0,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0
2,67000.0,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0
3,145000.0,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0
4,65000.0,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN

In [17]:
re_3.to_csv('re_data.csv')